body {
    margin: 0;
    padding: 0;
}



/*Login*/
nav {
    background-color: navy;
    width: 100%;
    height: auto;
    bottom: 0;
}
.loginTextBox{
    border: solid navy 1px;
    background-color: white;
    border-radius: 2px;
    padding: 3px;
}
.loginTextBox:hover{
    transition:ease-in-out 0.1s;
    box-shadow: 0 0 0pt 1pt navy;
}
.loginTextBox:focus{
    box-shadow: 0 0 0pt 2pt navy;
}
.loginLabel{
    width: 150px;
}
div.loginRow{
    display: block;
    margin: 10px;
}
div.loginRowElementInline{
    display: inline-block;
}
div.loginRowElementSimple{
    display:block;
}
h1.loginHeader{
    font-family:sans-serif;
    font-size: 150%;
}

#loginEntryBorder{
    border:solid black 1px;
    border-radius: 2px;
    display: block;
    width:auto;
    height:auto;
    padding: 20px;
}



/*for Shared Agenda Main Site*/
.filter_container, .time_table{
    margin: 1%;
    float: left;
}

.filter_container{
    width: 35%;
    left: 0;
    position: absolute;
    height: 95%;
}

.class_list{
    width:50%;
    margin-right: 2px;
}

.new_event_button{
    width: 45%
}

.week_selection{
    width:100%;
    height: 300px;
}

.eventtype{
    width:100%;
    height:200px;
    border: 1px solid black;
    margin-bottom:10px;
}

.time_table{
    border: 1px solid black;
    height: 95%;
    width: 60%;
    right: 0;
    position: absolute;
}

.log_out_button{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 60px;
}

.eventtype_button, .date_mobile{
    display:none;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
   .filter_container, .time_table{
       margin-left: 2%;
       margin-right: 2%;
       width:96%;
       bottom: 0;
       position: absolute;
       height: 60%;
   }

   .time_table{
       border:1px solid black;
       top: 0;
       margin-top: 2%;
       max-height:300px;
       height: 35%;
       position: absolute;
   }

   .log_out_button{
        width: 100%;
        height: 60px;
        position: relative;
        margin-bottom: 2%;
    }

   .eventtype, .week_selection, .name p{
       display:none;
   }

   .eventtype_button{
        width: 100%;
        height: 30px;
        display:block;
        margin-bottom: 2%;
    }
   .log_out_button{
        width: 100%;
        height: 30px;
        display:block;
        margin-bottom: 2%;
    }

   .date_mobile{
       display: block;
   }

   .week, .day{
       float: left;
       width: 48%;
       margin: 1%;
       display: grid;
       margin-bottom: 3%
   }
}