body {
    margin: 0;
    padding: 0;
}

nav {
    display: none;
}

.loginTextBox {
    border-radius: 5px;
    padding: 12px;
}

    .loginTextBox:focus {
        box-shadow: 0 0 0pt 2pt rgb(58, 93, 150);
        background-color: rgb(234, 242, 255);
    }

.loginButton {
    border-radius: 5px;
    padding: 10px;
}

    .loginButton:focus {
        box-shadow: 0 0 0pt 2pt rgb(58, 93, 150);
        background-color: rgb(46, 75, 122);
        color: rgb(247, 250, 255);
    }

h1.loginHeader {
    font-size: 220%;
    margin: 3px;
}

#name {
    height: initial;
    /*overflow: auto;*/
    position: relative;
    padding: 2px;
}

#loginEntryBorder {
    border: 0;
    border-radius: 0;
    height: 300px;
    width: initial;
    height: initial;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-top: 0;
}

/* Shared Agenda Main */

/* CONTAINER */
#superContainer {
    display: flex;
    flex-direction: column-reverse;
}

.filter_container {
    flex: 4;
    width: initial;
}

.time_table {
    flex: 6;
}

.eventtype, .week_selection, .name p {
    display: none;
}

.date_mobile {
    display: flex;
    flex-direction: row;
}

#weekContainer {
    position: relative;
}

#eventfilterContainer {
    position: relative;
    min-height: initial;
    flex: none;
}

.containerDay {
    display: none;
}

#Monday {
    display: block;
}

/* FARBMODIFIKATIONEN */

/* SCHRIFTMODIFIKATIONEN */
.sansseriflabel {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.mobileDisplayNone{
    display: none;
}


/* BUTTONS UND INPUT */

.week, .day {
    flex: 1;
    display: grid;
}

.generalInputBox {
    border-radius: 5px;
    /* padding-bottom: 2px; */
    padding: 6px;
    height: 40px;
    margin: 2px;
    display: normal;
    position: relative;
}

    .generalInputBox:focus {
        box-shadow: 0 0 0pt 2pt rgb(58, 93, 150);
        background-color: rgb(234, 242, 255);
    }

.generalButton {
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 10px;
    position: relative;
    height: 50px;
}

    .generalButton:focus {
        box-shadow: 0 0 0pt 2pt rgb(58, 93, 150);
        background-color: rgb(46, 75, 122);
        color: rgb(247, 250, 255);
    }

.class_list{
    height: 50px;
}
.eventtype_button {
    text-align: center;
    display: block;
    flex: 1;
    margin-left: 10px;
}

.newEventButtonMobile{
    text-align: center;
    display: block;
    flex: 1;
    margin-left: 10px;
}

.newEventButton{
    display: none;
}

