body {
    margin: 0;
    padding: 0;
}

/* Standard Colors:     rgb(247, 250, 255) [Bläuliches Weiss]
                        rgb(234, 242, 255) [Sehr helles Blau]
                        rgb(58, 93, 150) [Mittelhelles Blau]
                        rgba(58, 93, 150, 50) [Same, 50 % Transparent]
                        rgb(46, 75, 122) [Etwas duenkleres Blau]
                        rgb(31, 51, 84) [Dunkles Blau]
                        rgb(255, 216, 216) [Mildes Rot]
                        16767192 [Same, ARGB int]
                        rgb(249, 249, 249) [GreyedOut Background]
                        rgb(239, 239, 239) [Helles Grau]
                        rgba(221, 221, 221, 30) [Mildes Grau, Transparent 20%]
                        rgb(142, 142, 142) [Dunkles Grau]
                        rgb(71, 71, 71) [Sehr dunkles Grau]

*/

/*Login*/
nav {
    position: fixed;
    background-color: rgba(58, 93, 150, 50);
    height: 50px;
    right: 0;
    left: 0;
    bottom: 0;
}
.loginTextBox {
    border: solid rgb(46, 75, 122) 1px;
    background-color: rgb(247, 250, 255);
    border-radius: 3px;
    padding: 7px;
}
    .loginTextBox:hover {
        transition: ease-in-out 0.1s;
        border-color: rgb(71, 71, 71);
        background-color: rgb(239, 239, 239);
    }
    .loginTextBox:focus {
        border-color: rgb(71, 71, 71);
        background-color: rgb(234, 242, 255);
    }
.loginFailed {
    border: solid rgb(255, 216, 216) 1px;
    background-color: rgb(255, 216, 216);
}
.loginLabel{
    width: 150px;
}
.loginButton {
    border: solid rgb(46, 75, 122) 1px;
    background-color: rgb(247, 250, 255);
    border-radius: 3px;
    padding: 8px;
    color: rgb(46, 75, 122);
}
    .loginButton:hover {
        transition: ease-in-out 0.1s;
        border: solid rgb(142, 142, 142) 1px;
        background-color: rgb(239, 239, 239);
        color: rgb(71, 71, 71);
    }
    .loginButton:focus {
        border-color: rgb(71, 71, 71);
        color: rgb(71, 71, 71);
    }
div.loginRow{
    display: block;
    margin: 10px;
}
div.loginRowElementInline{
    display: inline-block;
}
div.loginRowElementSimple{
    display: block;
}
h1.loginHeader {
    font-family: sans-serif;
    font-size: 150%;
    color: rgb(247, 250, 255);
    margin: 0;
}
.loginLabel {
    font-family: sans-serif;
    color: rgb(46, 75, 122);
}
#loginEntryBorder {
    position: fixed;
    border: solid rgb(58, 93, 170) 1px;
    border-radius: 2px;
    display: block;
    width: 500px;
    height: 300px;
    top: 200px;
    left: 50%;
    margin-left: -250px;
}
@media screen and (max-height: 700px){
    #loginEntryBorder {
        height: 300px;
        top: 50%;
        margin-top: -150px;
    }
}
#contentHeaderContainer {
    background-color: rgba(58, 93, 150, 50);
    padding: 12px;
}
#loginRowsContainer {
    position: fixed;
    display: block;
    left: 50%;
    margin-left: -200px;
    margin-top: 40px;
}
#contentFooterContainer {
    position: absolute;
    display: block;
    bottom: 20px;
    right: 12px;
}
.loginButtonRow{
    display: none;
}
.loginFailedIco {
    display: none;
}
.showLoginFailedIco {
    display: initial;
}



/*for Shared Agenda Main Site*/
.sansseriflabel {
    font-family: sans-serif;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 2px;
    padding: 0;
}
.surname{
    margin-left: 10px;
}
.surname, .firstname{
    font-size: 140%;
}
.inlineParagraph{
    display: inline-block;
}
/*
    .filter_container, .time_table{
    margin: 1px;
    float: left;
}
*/

#superContainer {
    display: flex;
    position: absolute;
    flex-flow: row;
    width: 100%;
    height: calc(100% - 50px);
}
.filter_container {
    display: flex;
    flex-flow: column;
    width: 300px;
    margin: 10px;
    padding: 3px;
    overflow: auto;
}
.time_table {
    display: flex;
    flex-direction: row;
    flex: 4;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
#name{
    height: 70px;
    position: relative;
    padding: 3px;
}
#eventContainer {
    height: auto;
    position: relative;
    padding: 3px;
}
#eventFlexContainer {
    display: flex;
    flex-direction: row;
}
#weekContainer {
    height: auto;
    position: relative;
    padding: 3px;
}
#eventfilterContainer {
    flex: 2;
    position: relative;
    padding: 3px;
}
#log_out {
    height: auto;
    position: relative;
    padding: 3px;
}
.class_list{
    flex: 5;
    margin: 2px;
}

.new_event_button {
    flex: 3;
    text-align: center;
    display: inline-block;
    margin: 2px;
}
.generalInputBox {
    border: solid rgb(46, 75, 122) 1px;
    background-color: rgb(247, 250, 255);
    border-radius: 3px;
    padding: 4px;
}

    .generalInputBox:hover {
        transition: ease-in-out 0.1s;
        box-shadow: 0 0 0pt 1pt rgb(58, 93, 150);
    }

    .generalInputBox:focus {
        background-color: rgb(234, 242, 255);
    }
.generalButton {
    border: solid rgb(46, 75, 122) 1px;
    background-color: rgb(247, 250, 255);
    border-radius: 3px;
    padding: 4px;
    color: rgb(46, 75, 122);
}
    .generalButton:hover {
        transition: ease-in-out 0.1s;
        box-shadow: 0 0 0pt 1pt rgb(58, 93, 150);
        background-color: rgb(46, 75, 122);
        color: rgb(247, 250, 255);
    }

    .generalButton:focus {
        background-color: rgb(234, 242, 255);
    }

        .generalButton:focus:hover {
            transition: ease-in-out 0.1s;
            box-shadow: 0 0 0pt 1pt rgb(58, 93, 150);
            background-color: rgb(46, 75, 122);
            color: rgb(247, 250, 255);
        }

    .generalButton:active {
        background-color: rgb(31, 51, 84);
        color: rgb(46, 75, 122);
    }

.week_selection {
    width: 100%;
    height: inherit;
    /*
        height: 30vh;
        position: relative;
    */
}

.eventtype {
    width: inherit;
    /*
        height:10vh;
        min-height:100px;
        position: relative;
    */
    border: 1px solid black;
    margin-bottom: 10px;
}

.events{
    display: block;
}
.log_out_button {
    text-align: center;
    display: block;
    width: 100%;
    bottom: 0;
}

.eventtype_button, .date_mobile{
    display: none;
}

.containerDay{
    display: block;
    flex: 1;
    height: 100%;
    border: solid black 1px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}
.greyedOut {
    background-color: rgb(232, 232, 232);
}
.containerDayLabel{
    border-bottom: solid black 1px;
    padding: 4px;
}
.dayLabel{
    margin: 0;
    padding: 0;
}