body {
    margin: 0;
    padding: 0;
}

.Text_Event {
    font-size: 18px;
    font-family: Arial;
}

.Event {
    position: absolute;
    width: 90%;
    max-width: 500px;
    height: 90%;
    max-height: 700px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 2px solid rgb(46, 75, 122);
    border-radius: 3px;
    padding: 10px;
}

.subject_db,
.subject_txt {
    width: 98%;
    margin-bottom: 10px;
}

.calender,
.calender_txt {
    margin-bottom: 10px;
    width: 99%;
}

.tb_kBeschreibung,
.kBeschreibung_txt {
    width: 98%;
    margin-bottom: 10px;
}

.tb_Beschreibung,
.tb_Beschreibung_txt {
    width: 98%;
    height: 20%;
    margin-bottom: 10px;
}

.rb_eventtype,
.rb_eventtype_txt {
    margin-bottom: 10px;
}

.generalButton {
    border: solid rgb(46, 75, 122) 1px;
    background-color: rgb(247, 250, 255);
    border-radius: 3px;
    padding: 4px;
    color: rgb(46, 75, 122);
}

    .generalButton:hover {
        transition: ease-in-out 0.1s;
        box-shadow: 0 0 0pt 1pt rgb(58, 93, 150);
        background-color: rgb(46, 75, 122);
        color: rgb(247, 250, 255);
    }

    .generalButton:focus {
        background-color: rgb(234, 242, 255);
    }

        .generalButton:focus:hover {
            transition: ease-in-out 0.1s;
            box-shadow: 0 0 0pt 1pt rgb(58, 93, 150);
            background-color: rgb(46, 75, 122);
            color: rgb(247, 250, 255);
        }

    .generalButton:active {
        background-color: rgb(31, 51, 84);
        color: rgb(46, 75, 122);
    }

.submit_btn {
    width: 49%;
}

.cancel_btn {
    width: 49%;
}

.generalInputBox {
    border: solid rgb(46, 75, 122) 1px;
    background-color: rgb(247, 250, 255);
    border-radius: 3px;
    padding: 4px;
}

    .generalInputBox:hover {
        transition: ease-in-out 0.1s;
        box-shadow: 0 0 0pt 1pt rgb(58, 93, 150);
    }

    .generalInputBox:focus {
        background-color: rgb(234, 242, 255);
    }
